.add-todo {
  margin-top: 1em;

  &__container {
    display: flex;
  }
}

.custom-button {
  height: 40px;
  float: right;
  margin-bottom: 4px;
  margin-left: 5px;

  &--success {
    width: 8em;
  }
}

.custom-input-text {
  height: 40px;
  width: 100%;
  display:block;
}

.custom-error-format{
  display: block;
  color: red;
  flex: 1;
  .error-message-format{
    border-color:red;
  }
}