<div class="add-todo">
  <div *ngIf="!displayInput">
    <button type="button"
      class="btn btn-primary"
      (click)="toggleInput()">[+] Add Todo</button>
  </div>
  <div *ngIf="displayInput" class="add-todo__container">
    <div class="custom-error-format">
      <input class="form-control custom-input-text"
        [(ngModel)]="todoText"
        #todo="ngModel"
        type="text"
        required
        minlength="5"
        placeholder="Set your goal | task | reminder" />

      <div *ngIf="todo.errors && todo.touched">
        This field is required
      </div>
      <div *ngIf="todo.errors && todo.errors.minlength">
        Minimum length must be 5 characters
      </div>
    </div>
    <button class="btn btn-danger custom-button"
      (click)="toggleInput()">Cancel</button>
    <button class="btn btn-success custom-button custom-button--success"
      (click)="saveTodo()"
      [disabled]="todo.errors">Add To-Do</button>
  </div>
</div>