<div class="button-space">
  <div *ngIf="!displayInput">
    <button type="button"
      class="btn btn-primary"
      (click)="toggleInput()">[+] Add Todo</button>
  </div>
  <div *ngIf="displayInput">
    <input class="form-control custom-input-text"
      [(ngModel)]="todoText"
      type="text"
      placeholder="Set your goal | task | reminder" />
    <button class="btn btn-danger custom-button"
      (click)="toggleInput()">Cancel</button>
    <button class="btn btn-success custom-button custom-success"
      (click)="saveTodo()">Add To-Do</button>
  </div>
</div>
